*{
    text-align: center;
    background-color: black;
    color: whitesmoke;
}
h1{
    color:green;
    font-size: xx-large;

}
h2{
    color: tomato;
    font-size: medium;
}
ol,li{
    text-align: left;
    font-size: medium;
    color: orchid;

}
p{
    text-align: left;
}
em{
    color: aqua;
}
